image: Ubuntu2004

stack: jdk 11

branches:
  only:
    - main

build: off

install:
  - java -jar ./Cashback/gradle/wrapper/gradle-wrapper.jar &
  - chmod +x gradlew

build_script:
  - ./gradlew test --info